@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

@font-face {
  font-family: 'TrenchFont';
  src: url('/fonts/TrenchThin.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dadada;
    --foreground: #ff0000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TrenchFont';
  margin: 0;
  padding: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block; 
  margin: 0;
  padding: 0;
}

a-scene {
  width: 100vw;
  height: 100vh;
  display: block;
}

/* Asegúrate de que el contenedor del grid esté bien configurado */
.grid-container {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

/* Estilo de cada elemento dentro del grid */
.item {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 5px;
  z-index: 1;
}

/* Estilo del contenido dentro de cada item */
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: black;
  font-size: 50px;
  color: white;
  cursor: pointer;
  
}

.item.box {
  position: absolute;
  width: 350px;
  height: 350px;
  margin: 5px;
  z-index: 1;
}

.item.horizontal {
  position: absolute;
  width: 710px;
  height: 350px;
  line-height: 300px;
  z-index: 1;
}

.item.vertical {
  position: absolute;
  width: 350px;
  height: 710px;
  line-height: 610px;
  z-index: 1;
}

/* Tablet o pantallas medianas */
@media (max-width: 1024px) {
  .item.box {
    width: 260px;
    height: 260px;
  }

  .item.horizontal {
    width: 530px;
    height: 260px;
    line-height: 220px;
  }

  .item.vertical {
    width: 260px;
    height: 530px;
    line-height: 470px;
  }
}

/* Móviles grandes */
@media (max-width: 480px) {
  .item.box {
    width: 175px;
    height: 175px;
  }

  .item.horizontal {
    width: 355px;
    height: 175px;
    line-height: 150px;
  }

  .item.vertical {
    width: 175px;
    height: 355px;
    line-height: 310px;
  }
}



/* Evitar que los elementos sean ocultados cuando son arrastrados */
.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

/* Estilos para el contenido multimedia */
iframe, video, .item-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



